<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" /> 
</head>

<body>
    <div class="body">
    <div class="header">
        <header>
        <span>
            <img src="/static/images/logo.svg" height="100" width="100" />
        </span>
        <span>
     <nav>
        <ul>
            <li>
                <a href="/website">Home</a>
            </li>
            <li>
                <a href="/website/learn">learn</a>
            </li>
            <li>
                <a href="/website/gallery">gallery</a>
            </li>
            <li>
                <a href="/website/practice">practice</a>
            </li>
            <li>
                <a href="/website/login">login</a>
            </li>
            
          
        </ul>
     </nav>
     </span>
    </header>
    </div>
    <div class="section">
    <section>
    {% block middle %}


    {% endblock %}

    </section>
</div>
<div class="footer">
    <footer>


    </footer>
</div>
</div>
</body>
</html>