{% extends 'website/layout.html' %}
{% block middle %}
<html>
    <head>
        
    </head>
    <body>
        
    
    <h1 style="padding:80px;  color: rgb(36, 232, 6) ; " >Unlock Perfection
        Solve easy to complex problems & get hands-on experience to
        get hired by your dream company!
        
        Go Pro Now
        Prepare for interviews of 100+ companies!
        Go Pro Now
        arrow_forward</h1>
    <img src="/static/images/practice.webp" height="300" width="300" />
    </body>
    </html>
    {% endblock %}

